<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
        chatApp
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.js" integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA=" crossorigin="anonymous"></script>
</head>

<body id="login">
    <form method="post" action="/">
        <input type="text" name="username" placeholder="お名前"/>
        <input type="email" name="email" placeholder="メールアドレス"/>
        <button>LOGIN</button>
    </form>
</body>

</html>
